.body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: blue;
}

main {
  background-color: blueviolet;
}

footer {
  background-color: chartreuse;
}

container {
  background-color: aquamarine;
  margin: 0 auto 0 auto;
  display: grid;
}

menu {
  background-color: crimson;
  padding: 0px;
  margin: 0px;
  /* float: left; */
}

content {
  background-color: darkcyan;
  /* float: right; */
}