body {
  margin: 0px;
  padding: 0px;
}


container {
  background-color: white;

  max-width: 1170px;
  margin: 0 auto 0 auto;
  justify-content: center;	

  display: grid;
}

top {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  min-height: 100px;
}

header {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* background-image: url('img/eh1.png'); */
  /* background-size: cover; */


  overflow: hidden;
  color: blue; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 30px; 
  font-weight: bold; 
  letter-spacing: -1px;
   /* line-height: 300px;  */
   text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

navigation1 {
  /* background-color: crimson; */
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  /* background-image: url('img/eh3.png'); */
  /* background-size: cover; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row-reverse;
}

navigation2 {
  /* background-color: khaki; */
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  /* background-image: url('img/eh2.png'); */
  /* background-size: cover; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row-reverse;
}

middle {
  /* background-color: darkcyan; */
    background-color: white;
  grid-auto-rows: minmax(390px, auto);
  display: grid;
}

footer {
  background-color: #082567;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  min-height: 100px;
}


logo {
  grid-column: 2 / 3;
  /* background-image: url('img/fe1.png'); */
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  color: white;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 30px; 
  font-weight: bold; 
  letter-spacing: -1px;
}

rodo {
  grid-column: 3 / 4;
  /* background-image: url('img/fe2.png'); */
  /* background-size: cover; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  padding: 10px;
  color: white;
}


@media screen and (min-width: 1190px) {
  middle {
    grid-template-columns: repeat(6 195px);
    grid-template-areas: 
      "e1_1 e1_2 e1_2 e1_3 e1_3 e1_4"
      "e2_1 e2_2 e2_2 e2_3 e2_3 e2_4"
      "e3_1 e3_2 e3_2 e3_3 e3_3 e3_4"
      "e4_1 e4_2 e4_2 e4_2 e4_2 e4_3"
      "e5_1 e5_2 e5_2 e5_3 e5_3 e5_4"
      "e6_1 e6_2 e6_2 e6_3 e6_3 e6_4"
      "e7_1 e7_2 e7_2 e7_3 e7_3 e7_4";
    width: 1170px;
  }


  container {
    width: 1170px;
  }
}

@media screen and (min-width: 995px) and (max-width: 1189px) { 
  middle {
    grid-template-columns: repeat(5, 195px);
    grid-template-areas:
      "e1_2 e1_2 e1_3 e1_3 e1_4"
      "e2_1 e2_2 e2_2 e2_3 e2_3"
      "e3_2 e3_2 e3_3 e3_3 e3_4"
      "e4_1 e4_2 e4_2 e4_2 e4_2"
      "e5_2 e5_2 e5_3 e5_3 e5_4"
      "e6_1 e6_2 e6_2 e6_3 e6_3"
      "e7_2 e7_2 e7_3 e7_3 e7_4";
      justify-content: center;	
      width: 975px;
  }

  #e1_1, #e2_4, #e3_1, #e4_3, #e5_1, #e6_4, #e7_1 {
    display: none;
  }

  container {
    width: 975px;
  }

  top {
    grid-template-columns: 1fr 2fr 6fr 1fr;
  }
  
  footer {
    grid-template-columns: 1fr 2fr 8fr;
  }
}

@media screen and (min-width: 800px) and (max-width: 994px) { 
  middle {
    grid-template-columns: repeat(4, 195px);
    grid-template-areas:
      "e1_2 e1_2 e1_3 e1_3"
      "e2_2 e2_2 e2_3 e2_3"
      "e3_2 e3_2 e3_3 e3_3"
      "e4_2 e4_2 e4_2 e4_2"
      "e5_2 e5_2 e5_3 e5_3"
      "e6_2 e6_2 e6_3 e6_3"
      "e7_2 e7_2 e7_3 e7_3";
    justify-content: center;	
    width: 780px;
  }

  #e1_1, #e2_4, #e3_1, #e4_3, #e5_1, #e6_4, #e7_1, #e1_4, #e2_1, #e3_4, #e4_1, #e5_4, #e6_1, #e7_4 {
    display: none;
  }

  container {
    width: 780px;
  }

  top {
    grid-template-columns: 1fr 4fr 12fr 1fr;
  }

  footer {
    grid-template-columns:  0fr 1fr 3fr;
  }
}

@media screen and (min-width: 605px) and (max-width: 799px) { 
  middle {    
    grid-template-columns: repeat(3, 195px);
    grid-template-areas:
      "e1_1 e1_2 e1_2"
      "e1_3 e1_3 e1_4"
      "e2_1 e2_2 e2_2" 
      "e2_3 e2_3 e2_4"
      "e3_1 e3_2 e3_2" 
      "e3_3 e3_3 e3_4"
      "e4_2 e4_2 e4_2"
      "e5_1 e5_2 e5_2"
      "e5_3 e5_3 e5_4"
      "e6_1 e6_2 e6_2"
      "e6_3 e6_3 e6_4"
      "e7_1 e7_2 e7_2" 
      "e7_3 e7_3 e7_4";
      justify-content: center;	
      width: 585px;
  }

   #e4_1, #e4_3 {
    display: none;
  }

  container {
    width: 585px;
  }

  top {
    grid-template-columns: 0fr 1fr 3fr 0fr;
  }

  footer {
    grid-template-columns:  0fr 1fr 1fr;
  }

}

@media screen and (max-width: 604px) { 
  middle {    
    grid-template-columns: repeat(2, 195px);
    grid-template-areas:
      "e1_2 e1_2"
      "e1_3 e1_3"
      "e2_2 e2_2" 
      "e2_3 e2_3"
      "e3_2 e3_2" 
      "e3_3 e3_3"
      "e4_2 e4_2"
      "e5_2 e5_2"
      "e5_3 e5_3"
      "e6_2 e6_2"
      "e6_3 e6_3"
      "e7_2 e7_2" 
      "e7_3 e7_3";
      justify-content: center;
      width: 390px;
  }
  #e1_1, #e2_4, #e3_1, #e4_3, #e5_1, #e6_4, #e7_1, #e1_4, #e2_1, #e3_4, #e4_1, #e5_4, #e6_1, #e7_4 {
    display: none;
  }
  container {
    width: 390px;
  }

  top {
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  navigation2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  navigation1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  rodo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

div {
  overflow: hidden;
  color: white; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  font-weight: bold; 
  letter-spacing: -1px;
   /* line-height: 300px;  */
   text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#e1_1 {
  grid-area: e1_1;
  background-image: url('imgn/1_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e1_2 {
  grid-area: e1_2;
  background-image: url('imgn/1_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e1_3 {
  grid-area: e1_3;
  background-image: url('imgn/1_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e1_4 {
  grid-area: e1_4;
  background-image: url('imgn/1_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}

#e2_1 {
  grid-area: e2_1;
  background-image: url('imgn/2_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e2_2 {
  grid-area: e2_2;
  background-image: url('imgn/2_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e2_3 {
  grid-area: e2_3;
  background-image: url('imgn/2_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e2_4 {
  grid-area: e2_4;
  background-image: url('imgn/2_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}

#e3_1 {
  grid-area: e3_1;
  background-image: url('imgn/3_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e3_2 {
  grid-area: e3_2;
  background-image: url('imgn/3_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e3_3 {
  grid-area: e3_3;
  background-image: url('imgn/3_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e3_4 {
  grid-area: e3_4;
  background-image: url('imgn/3_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}

#e4_1 {
  grid-area: e4_1;
  background-image: url('imgn/4_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e4_2 {
  grid-area: e4_2;
  background-image: url('imgn/4_2.jpg');
  background-size: cover;
  max-width: 750px;
  height: 360px;
}
#e4_3 {
  grid-area: e4_3;
  background-image: url('imgn/4_3.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e4_4 {
  grid-area: e4_4;
  background-image: url('imgn/4_4.jpg');
  background-size: cover;
  height: 360px;
}

#e5_1 {
  grid-area: e5_1;
  background-image: url('imgn/5_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e5_2 {
  grid-area: e5_2;
  background-image: url('imgn/5_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e5_3 {
  grid-area: e5_3;
  background-image: url('imgn/5_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e5_4 {
  grid-area: e5_4;
  background-image: url('imgn/5_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}

#e6_1 {
  grid-area: e6_1;
  background-image: url('imgn/6_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e6_2 {
  grid-area: e6_2;
  background-image: url('imgn/6_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e6_3 {
  grid-area: e6_3;
  background-image: url('imgn/6_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e6_4 {
  grid-area: e6_4;
  background-image: url('imgn/6_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}

#e7_1 {
  grid-area: e7_1;
  background-image: url('imgn/7_1.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
#e7_2 {
  grid-area: e7_2;
  background-image: url('imgn/7_2.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e7_3 {
  grid-area: e7_3;
  background-image: url('imgn/7_3.jpg');
  background-size: cover;
  width: 360px;
  height: 360px;
}
#e7_4 {
  grid-area: e7_4;
  background-image: url('imgn/7_4.jpg');
  background-size: cover;
  width: 165px;
  height: 360px;
}
